<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>modificación</title>
</head>
<body>
    <header>
        <a href="inicioAdmin"><img src="img/LOGOS-05.png"/></a>
        <h1>Modificar Usuario</h1>
    </header>

    <form th:action="@{/buscarUsuario}" method="post">
        <label for="mail">Correo Electrónico:</label>
        <input type="text" id="mail" name="mail" required/>

        <button type="submit">Buscar</button>
        <a href="inicioAdmin">volver</a>
    </form>
</body>
</html>