<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ced</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="css/estilos.css">
  <link href="assets/img/marca_ED completa (1).png" rel="icon">

  <!--<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">-->


  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed ">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="assets/img/LOGOS-06.png" alt="" class="img-fluid"></a>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#hero">Acerca del Ced</a></li>
          <li><a class="nav-link scrollto" href="#">Convocatoria</a></li>
          <li><a class="nav-link  scrollto" href="#">Participar</a></li>
          <li><a class="nav-link  scrollto" href="../Folio/materialesPresentados.html">Ver Materiales Presentados</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li><a class="btn btn-sesion" href="../Folio/login.html">Iniciar Sesión</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="assets/img/LOGOS-05.jpg" class="img-responsive">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">II Concurso de Diseño de Materiales Educativos </p>
              <p class="separator">La Dirección de Educación a Distancia y Digital de la Universidad Nacional del
                Noroeste de la Provincia de Buenos Aires (UNNOBA), en colaboración con la Universidad Nacional de San
                Antonio de Areco (UNSA) y la Universidad Provincial de Ezeiza, te invita al II Concurso de Materiales
                Educativos Digitales Innovadores.</p>
            
            </div>

          </div>
        </div>
      </div>
    </div><!-- End Section -->

    <!-- ======= Objetivos Section ======= -->
    <div id="objetivos" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg">
            <div class="objetivos-descr">
              <p class="p-heading">Objetivos</p>
              <p class="separator">Reconocer y estimular a docentes innovadores para impulsar espacios educativos
                creativos y promover el aprendizaje colaborativo entre pares.</p>
              <p class="p-heading">Materiales</p>
              <p class="separator">Los participantes pueden presentar uno o varios materiales digitales originales que
                cumplan las condiciones del concurso.</p>
              <p class="p-heading">Destinado A</p>
              <p class="separator">Docentes de todas las carreras y niveles, presentando materiales individualmente o en
                equipos de hasta cinco personas, siendo de la misma asignatura o curso.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">Contacto</h2>

                <ul class="contact-details">
                  <li><span>Educación Digital – UNNOBA</span></li>
                  <li><span>Sarmiento 1169 (B6002CJI) Junín, Buenos Aires, Argentina</span></li>
                  <li><span>Teléfono: +54 9 2364 407750/span></li>
                  <li><span>Mail: wite@unnoba.edu.ar</li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              <form action="#" method="post" role="form" class="php-email-form">
                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Nombre y Apellido"
                        required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Su Email" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" placeholder="Mensaje" required></textarea>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="loading">Espere</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Tu mensaje a sido enviado, Gracias!</div>
                  </div>

                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Enviar">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">


      <p>&copy; Copyrights Equipo 3</p>


    </div>
  </div><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div class="text-center">
    <p>ESTO ES SOLO PARA PRUEBAS. PARA PODER VER LOS DASHBOARD DE LOS DIFERENTIPOS DE USUARIOS SELECCIONE LA OPCIÓN:</br>
    <a href="../Folio/usuarioAdministrador.html">Mockup Panel Usuario ADMINISTRADOR</a>
    <a href="../Folio/usuarioEvaluador.html">- Mockup Panel Usuario EVALUADOR</a>
    <a href="../Folio/usuarioParticipante.html">- Mockup Panel Usuario PARTICIPANTE</a></p></br>
  </div>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>