<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>inicio</title>
</head>
<body>
    <header>
        <img src="img/LOGOS-05.png"/>
        <h1>Concurso de Materiales Educativos</h1>
    </header>

    <nav class="menu">
      <ul>
        <li>Usuario</li>
          <ul>
            <li><a href="registro">Alta</a></li> 
            <li><a href="bajaUsuario">Baja</a></li>
            <li><a href="buscarUsuario">Modificación</a></li>
          </ul>
        <li>Materiales</li>
          <ul>
            <li><a href="#">Selección de Materiales</a></li>
            <li><a href="#">Publicar</a></li>
            <li><a href="#">Asignar Evaluadores</a></li>
          </ul>
      </ul>
      <footer></footer>
</body>
</html>