<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Usuario Actualizado</title>
</head>
<body>
    <header>
        <a href="inicioAdmin"><img src="img/LOGOS-05.png"/></a>
        <h1>Modificar Usuario</h1>
    </header>
    <h1>Usuario actualizado con Éxito !</h1>
    <div class="notificacion">
        <a href="buscarUsuario">modificar otro usuario</a>
    </div>
</body>
</html>