<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>usuario registrado</title>
</head>
<body>
    <header>
        <a href="inicioAdmin"><img src="img/LOGOS-05.png"/></a>
        <h1>Alta de Usuario</h1>
    </header>
    <h1>Usuario registrado con Éxito !</h1>
    <div class="notificacion">
        <a href="registro">agregar otro usuario</a>
    </div>
</body>
</html>