<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Client</title>
</head>
<body>
<div>Edit Client</div>
<form action="#" th:action="@{/clients/{taxID}(taxID=${client.taxID})}" th:object="${client}" method="post">
    <table>
        <tr><td>Name</td><td><input type="text" th:field="*{name}"/></td></tr>
        <tr><td>Address</td><td><input type="text" th:field="*{address}"/></td></tr>
        <tr><td>Tax ID</td><td><input type="text" th:field="*{taxID}"/></td></tr>
    </table>
    <button type="submit" name="newClient">Update</button>
</form>

</body>
</html>