<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Club Ascensión</title>
    <link rel="stylesheet" th:href="@{/css/app.css}"> <!--RUTA PARA LOS CSS GENERALES PARA TODAS LAS PAGINAS-->
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"> <!--si hacen otra página, creen en la carpeta css otro archivo css con el nombre de la página-->
    <!--el link y el script de abajo son de bootstrap... tampoco hay que sacarlos ni modificarlos-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/94b10fad32.js" crossorigin="anonymous"></script>
  </head>
<body class="dashboard-page d-flex flex-column overflow-hidden">
  <header class="light-green w-100">
    <nav class="d-flex justify-content-between py-2">
      <div>
        <a href="/dashboard">
          <img class="col-1 ms-2" src="../assets/images/icon-club.png"/>
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <li class="list-group-item" sec:authorize="isAuthenticated()">
          <a th:href="@{/logout}" href="/" class="border-0 bg-transparent text-white fw-semibold link-underline link-underline-opacity-0 fs-6 me-2">Salir</a>
        </li>
      </div>
    </nav>
  </header>
  <div class="d-flex flex-grow-1 h-100">
    <nav class="side-nav h-100 d-flex flex-column overflow-y-auto" id="side-menu">
      <i class="d-lg-none fas fa-times position-absolute light-grey-text top-0 end-0 mt-2 me-2" data-bs-dismiss="offcanvas" data-bs-target="#side-menu"></i>
      <p class="fw-semibold fs-5 text-secondary ps-2 pt-2">Menu</p>
      <ul class="list-group d-flex w-100 flex-column">
        <li class="dashboard-link list-item ps-3 cursor-pointer py-1 d-flex align-items-center">
          <i class="dahsboard-link fas fa-tachometer-alt fs-5"></i>
          <a href="/dashboard" class="dashboard-link fw-bold fs-5 link-underline link-underline-opacity-0 d-flex flex-grow-1 ms-2">Dashboard</a>
        </li>
        <li class="ps-3 mt-3 list-item cursor-pointer py-1 d-flex align-items-center">
          <i class="list-item fas fa-users fs-5 light-grey-text"></i>
          <a href="/members" class="list-item fw-bold fs-5 light-grey-text link-underline link-underline-opacity-0 d-flex flex-grow-1 ms-2">Socios</a>
        </li>
        <div class="accordion" id="accordionQuery">
            <li class="ps-3 mt-3 list-item cursor-pointer py-1 d-flex align-items-center justify-content-center"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="far fa-question-circle fs-5 light-grey-text"></i>
                <div class="list-item fw-bold fs-5 light-grey-text d-flex flex-grow-1 justify-content-between align-items-center ms-2">Consultas <i class="fas fa-chevron-down me-3"></i> </div>
            </li>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionQuery">
            <div class="accordion-body p-0 ">
              <li class="ps-5 list-item cursor-pointer decoration-none py-1">
                <a class="list-item fw-medium fs-6 light-grey-text link-underline link-underline-opacity-0">Socio individual</a>
              </li>
              <li class="ps-5 list-item cursor-pointer decoration-none py-1">
                <a class="list-item fw-medium fs-6 light-grey-text link-underline link-underline-opacity-0">Cuotas inpagas</a>
              </li>
              <li class="ps-5 list-item cursor-pointer decoration-none py-1">
                <a class="list-item fw-medium fs-6 light-grey-text link-underline link-underline-opacity-0">Cuotas canceladas</a>
              </li>
              <li class="ps-5 list-item cursor-pointer decoration-none py-1">
                <a class="list-item fw-medium fs-6 light-grey-text link-underline link-underline-opacity-0">Listado alfabético</a>
              </li>
            </div>
        </div>
        <div class="accordion" id="accordionList">
          <li class="ps-3 mt-3 list-item cursor-pointer py-1 d-flex align-items-center justify-content-center"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="far fa-clipboard fs-4 light-grey-text"></i>
            <div class="list-item fw-bold fs-5 light-grey-text d-flex flex-grow-1 justify-content-between align-items-center ms-2">Listados <i class="fas fa-chevron-down me-3"></i> </div>
          </li>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionList">
          <div class="accordion-body p-0 ">
            <li class="ps-5 list-item cursor-pointer decoration-none py-1">
              <a class="list-item fw-medium fs-6 light-grey-text link-underline link-underline-opacity-0">Socios pendientes</a>
            </li>
            <li class="ps-5 list-item cursor-pointer decoration-none py-1">
              <a class="list-item fw-medium fs-6 light-grey-text link-underline link-underline-opacity-0">Cuotas al dia</a>
            </li>
            <li class="ps-5 list-item cursor-pointer decoration-none py-1">
              <a class="list-item fw-medium fs-6 light-grey-text link-underline link-underline-opacity-0">Canceladas</a>
            </li>
          </div>
        </div>
        <li class="ps-3 mt-3 list-item cursor-pointer py-1 d-flex align-items-center">
          <i class="fas fa-coins fs-5 light-grey-text"></i>
          <a class="list-item fw-bold fs-5 light-grey-text link-underline link-underline-opacity-0 d-flex flex-grow-1 ms-2">Cobros</a>
        </li>
      </ul>
    </nav>

    <div class="h-100 d-flex flex-column flex-grow-1 bg-secondary-subtle">
      <div class="d-flex d-lg-none justify-contnet-center border-0 border-end bg-body-secondary position-absolute h-100" data-bs-toggle="offcanvas" data-bs-target="#side-menu">
        <i class="fas fa-chevron-right top-50 border-end align-self-center"></i>
      </div>
      <h3 class="fs-4 fw-bold text-secondary ms-3 mt-4">Usuarios</h3>
      <div class="d-flex  justify-content-center ">
        <table class="table table-striped table-bordered">
          <thead class="table">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="usuario : ${usuarios}">
              <td th:text="${usuario.id}">ID</td>
              <td th:text="${usuario.nombre}">ID</td>
              <td th:text="${usuario.apellido}">ID</td>
              <td th:text="${usuario.email}">ID</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/menuResponsive.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>